.econs:before {
    content: "e";
    display: inline-block;
    text-align: center;
    background: #E74C3C;
    color: #fff;
    font-weight: 700;
    border-radius: 1rem;
    width: 1rem;
    font-style: italic;
    font-size: 11px;
    line-height: 1rem;
    text-transform: none;
}
.econsCourtier:before {
    content: "c";
    display: inline-block;
    text-align: center;
    background: #323ce7;
    color: #fff;
    font-weight: 700;
    border-radius: 1rem;
    width: 1rem;
    font-style: italic;
    font-size: 11px;
    line-height: 1rem;
    text-transform: none;
}

ul#select2-typedocId-results .select2-results__option {
    padding: 0 !important;
}
ul#select2-typedocId-results .select2-results__option > span {
    padding: .375rem .75rem;
    display: block;
}
span#select2-typedocId-container {
    padding: 0rem !important;
}
span#select2-typedocId-container > span {
    padding: 0rem 0.75rem;
    display: block;
}